<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Sorry to see you leave Rotten Mangoes, <%= @user.full_name %></h1>
    <p>
      You have successfully removed your profile at rottenmangoes.com,
    </p>
    <p>
      If you regret your decision, just follow this link: rottenmangoes.com
    </p>
    <p>Until next time, have a great day!</p>
  </body>
</html>